<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>校企合作>>实习基地
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>实习基地</span></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Cooperation/agreement">合作协议</a></li>
				</ul>
			</div>
			<div class="con2">
				<p style="text-align: center;">
					<span style="font-size: 26px;">实习基地</span>
				</p>
				<br>
				<h2>一、广州风标电子技术有限公司</h2>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
						href="http://www.windway.cn/" target="blank">广州市风标电子技术有限公司</a>（下称风标电子）成立于2005年，位于广州市科学城彩频路11号广东软件科学园F902，是一家从事嵌入式系统软、硬件开发、嵌入式开发解决方案、高校实验室建设的高科技企业。
				
				<h3>风标电子主要提供如下产品与服务：</h3>
				<h4>风标电子提供嵌入式开发完整解决方案：</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供国内外先进的DSP、ARM、POWERPC等各种MCU的仿真器、RTOS、编译器及集成开发环境、教学实验仪、开发板和系统方案，软件测试解决方案等。
				
				<h4>风标电子提供对各种内嵌FLASH的MCU的在板烧入方法和产品：</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支持对Renesas的M16C/20,
					M16C/62, M16C/80, M38
					和M79系列控制器的在线或离线烧写；支持对ST7，ST9的在线或离线烧写；支持对TOSHIBA的TLCS-870系列和TMP91的在线烧写。提供对TIMSP430的烧写器。提供对ARM系统的在线烧写器。
				
				<h4>风标电子提供基于JTAG的硬件边界扫描检测方案：</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供基于1149.1标准的边界扫描检测方案，对BGA器件和高密度的硬件系统进行测试与排错。</p>
				<h4>风标电子提供嵌入式系统设计仿真与开发平台：</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供概念产品、原理布图、电路仿真、处理器仿真、代码调试、到设计验证和PCB生成的电子产品开发的完整解决方案。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;风标电子开发与提供大中专及各种教育机构电类专业实验室解决方案、实验系统、仿真软件、ＥＤＡ平台。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;风标电子同样提供咨询、方案设计与培训服务。</p>
				<h3>公司的宗旨：</h3>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为开发提供动能，随客户共同发展。</p>
				<br>
				<h2>二、固纬电子（上海）有限公司东莞分公司</h2>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
						href="http://goodwillinstek.cn.gongchang.com/" target="blank">固纬电子</a>自1975年创立以来,本着诚信经营的原则,为客户提供完善的品质与优质的服务,注重专业技术的提升和以研究开发创新发展为灵魂。三十年来不懈的努力，固纬产品从单一系列到多元化百余种产品的研发、制造、营销，都体现了固纬成长壮大的决心与成果。
					公司全面落实ISO认证体系，为把公司建设成电子测试测量仪器制造领域国际性的标志性公司而努力！
					1975年固纬电子公司予9月正式成立，资本额新台币100万 1983年成立高雄营业所 1985年成立台中营业所
					1986年增资至新台币4,000万元整 1988年成立桃竹营业所 1989年成立固纬马来西亚分公司
					1991年INSTEK美国公司成立(1997年成为固纬电子美国分公司) 1993年荣获第二届优良产业科技发展优等奖，取得
					ISO-9002国际品质认证 1994年荣获第三届国家磐石奖 1996年马来西亚厂通过ISO-9002国际品质认证 1998年
					台湾厂取得 ISO-9001国际品质认证 1999年取得
					ISO-14001国际环境管理系统认证，资本额为新台币六亿元，公司股票正式挂牌上柜
					2000年取得CNLA认证之标准电量实验室，核准通过由股票上柜公司转为股票上市公司连结至财政部证券暨期货管理委员会
					2002年台湾厂取得 ISO-9001国际品质认证 2003年苏州厂取得 ISO-9001国际品质认证
					2004年上海成立大陆营业总部暨售后服务中心 2005年公司成立30周年 2006年推出全新LOGO,更优服务。
				</p>
				<br>
				<h2>三、广东南方通信建设有限公司</h2>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
						href="http://www.teleland.net/" target="blank">广东南方通信建设有限公司</a>（简称南建公司），是国内专业的通信网络外包服务提供商，中国通信服务旗下国有大型骨干企业。公司自1993年10月成立以来，追求卓越，不断创新，为客户与行业创建卓越价值。目前，公司依托9个分公司和2个事业部，专注技术创新，打造高技术与高知识含量业务类型，
					形成以管线类业务为基础，以无线类、设备类、网优类业务为核心，以整体网络运营解决方案为体系的三大业务版块，服务网络遍布广东省各地市、全国各省份，以及港澳、东南亚、非洲等地区。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;南建公司始终坚持“卓越、服务、创新”的品牌理念，秉承“知识创新、技术领先、科学管理、完美服务”的服务质量方针，凭借不断增强的创新能力、突出的通信专业技术能力、日趋完善的服务能力，赢得行业客户的信赖和行业口碑，相继获得政府颁发的多项行业证书，包括通信工程施工总承包壹级、
					通信信息网络系统集成甲级等行业领先资质，并顺利通过ISO9001及GB/T50430标准认证，是广东省政府认定的高新技术企业和中国通信企业协会通信网络运营及工程建设专业委员会常委单位。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;未来，南建公司将继续紧扣市场脉搏，以协作、务实、高效、责任的企业精神，引领通信技术创新，推动中国通信服务业的发展，胸怀“为信息化服务，建世界级网络”的远大梦想，从容应对全球通信服务领域日新月异的挑战，为中国通信服务发展史谱写璀璨篇章，与您共赢未来！
				</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>