<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>人才培养>>专业实验室
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Talent/introduction">招生简介</a></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Talent/program">培养方案</a></li>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>专业实验室</span></li>
				</ul>
			</div>
			<div class="con2">
				<p style="text-align: center;">
					<span style="font-size: 26px;">专业实验室</span>
				</p>
				<h3>中心简介：</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工电子教学与实验中心直属于计算机与电子信息学院管理，建筑面积约1014平方米，总资产400多万元。中心下设一个教研室和一个实验室，其中，实验室由四个实验室组成：电子技术基础实验室、电工实验室、电子实习基地、电工实习基地。<br>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工电子教学与实验中心现有教师、实验技术人员17人，其中高级职称2人，中级职称11人。他们中有全国曾宪梓教育基金会优秀教师奖获得者，有省级师德标兵和学校优秀教学一等奖获得者。<br>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工电子教学与实验中心主要承担全校电类各专业的《电路原理》《模拟电子技术》《数字电子技术》的理论课、实验课的教学，全校非电类各专业的《电工与电子技术》的理论课、实验课的教学，以及全校相关专业的电子工艺实训、电工电子实习、电子技术综合实验等实践教学环节的教学工作。<br>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工电子教学与实验中心在完成正常教学任务外，还开展多种第二课堂活动，服务于学生毕业设计、教师的科研、大学生电子设计大赛、大学生课外科技创新活动等。<br>
				</p>
				<br>
				<h3>电工实验室：</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工实验室使用面积约252平方米，总资产80多万元，有电工技术实验装置DGJ-2型实验台40套、模拟电子技术实验箱20套、数字电子技术实验箱22套，以及配套的双踪示波器、函数信号发生器、数字毫伏表等实验仪器。实验室承担着全校非电类专业的《电工电子技术实验》以及全校电类专业的《电路原理实验》的教学工作，有专职实验技术人员2名。目前，实验室仪器设备能满足实验教学的需要，能开出实验教学大纲要求的所有实验。<br>
				</p>
				<br>
				<h3>实验项目：</h3>
				<p>
					<strong>电路实验：</strong> <br>1、电路元件伏安特性的测绘 <br>2、电位、电压的测定及电路电位图的绘制
					<br>3、基尔霍夫定理的验证 <br>4、电流源与电压源的等效互换 <br>5、戴维南定理 <br>6、受控源VCVS、VCCS的实验研究
					<br>7、典型电信号的观察与测量 <br>8、RC一阶电路的响应测试 <br>9、Ｒ、Ｌ、Ｃ串联谐振电路的研究
					<br>10、用三表法测量电路元件等效参数v <br>11、正弦稳态交流电路相量的研究 <br>12、三相交流电路电压、电流的测量<br>
					<strong>电工电子技术实验：</strong> <br>1、戴维南定理 <br>2、受控源VCVS、VCCS的实验研究
					<br>3、典型电信号的观察与测量 <br>4、用三表法测量电路元件等效参数 <br>5、三相交流电路电压、电流的测量
					<br>6、RC一阶电路的响应测试 <br>7、Ｒ、Ｌ、Ｃ串联谐振电路的研究 <br>8、正弦稳态交流电路相量的研究
					<br>9、常用电子元件的认识与检测 <br>10、晶体管共射极单管放大器 <br>11、比例求和运算电路
					<br>12、常用逻辑门电路逻辑功能与参数测试 <br>13、组合逻辑电路的分析 <br>14、组合逻辑电路的设计与测试
				</p>
				<br>
				<h3>电工实习基地：</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工实习基地使用面积约231平方米，有电气控制实习设备40套，大型卷扬机5套，另外还有泄漏电流测试仪、绝缘电阻测试仪、耐压测试仪、接地电阻测试仪等实验设备，总资产约100多万元。<br>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工实习基地主要承担全校电气信息类、机电类等相关专业的电工实习的教学任务，电气专业的专业实习，教师的科研等。根据教学大纲的要求，能够对学生进行电工的基本技能训练、机床和电梯的电气控制、PLC控制、电机故障诊断试验的检测、电机的变频调速控制的设计、安装生产实习等。另外，电工实习基地还得到了广东省职业技能鉴定中心授权，获得了职业技能鉴定资格。<br>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电工实习基地的高、低压配电实验室的设备，是茂名热电厂赠送的设备，完全按照生产现场的实际建设，以培养学生的实践动手能力和创新能力为目的，解决了学生下厂实习动手难的难题。<br>
				</p>
				<br>
				<h3>实习项目：</h3>
				<p>
					1、电气安全常识 <br> 2、常用的绝缘材料,常用的导电材料,常用导线的选择。 <br>
					3、导线线头连接,导线绝缘层的恢复及常用电工工具的使用。 <br> 4、室内布线的基本知识,槽板配线,室内照明线路工艺要求。
					<br> 5、照明线路的常发性故障和漏电流测量仪的使用。 <br> 6、双控一灯的安装,日光灯的安装。 <br>
					7、电度表、接触器、自动开关、漏电保护开关的工作原理。低压电气的选择。 <br> 8、低压配电盘的设计与安装。 <br>
					9、.继电器单.双向控制 <br> 10、两台电动机顺序控制电路。 <br>
					11、时间继电器、热继电器的工作原理与Y－△降压起动 <br> 12、PLC控制、 <br>
					13、机床和电梯的电气控制、 <br> 14、电机的变频调速控制、 <br> 15、高低压供配电、 <br>
					16、三相异步电动机绕组连接或拆检。 <br> 17、摇表、钳表、接地电阻测量仪的工作原理及其使用
				</p>
				<br>
				<h3>电子技术实验室：</h3>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子实验室使用面积约230平方米，总资产达90多万元，主要有多媒体教学设备1套，电脑、数字电子技术实验箱、模拟电子技术实验箱、高频电子技术实验箱等设备各４２套，以及配套的双踪示波器、函数信号发生器、频率计、数字毫伏表等实验仪器。实验室有专职实验技术人员2人。目前，实验室开出的实验课程有:模拟电子技术实验、数字电子技术实验、高频电子线路实验及电子技术综合实验等。此外，该实验室还可以实现EWB实验仿真、大规模集成电路FPGA的开发设计、Protell99印刷电路板设计等。实验室仪器设备能满足实验教学的需要，能开出实验教学大纲要求的所有实验。<br>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子实验室在完成正常教学任务外，还开放实验室，开展多种第二课堂活动，并为大学生电子设计大赛、大学生挑战杯，学生毕业设计等提供相关的支持。<br>
				</p>
				<br> 附录：实验内容 <br> <strong>一、模拟电子技术</strong>
				<table border="1" cellspacing="0" cellpadding="0" width="577">
					<tr>
						<td width="301" height="50" align="center" valign="middle"><p
								align="left">1、常用电子仪器的使用及元器件的检测</p></td>
						<td width="270" height="50" align="center" valign="middle"><p
								align="left">2、单管交流放大电路</p></td>
					</tr>
					<tr>
						<td width="301" height="50" align="center" valign="middle"><p
								align="left">3、负反馈放大电路</p></td>
						<td width="270" height="50" align="center" valign="middle"><p
								align="left">4、差动放大电路</p></td>
					</tr>
					<tr>
						<td width="301" height="50" align="center" valign="middle"><p
								align="left">5、比例求和运算电路</p></td>
						<td width="270" height="50" align="center" valign="middle"><p
								align="left">6、波形发生电路</p></td>
					</tr>
					<tr>
						<td width="301" height="50" align="center" valign="middle"><p
								align="left">7、整流滤波与并联稳压电路</p></td>
						<td width="270" height="50" align="center" valign="middle"><p
								align="left">8、LC波振荡电路及选频放大</p></td>
					</tr>
					<tr>
						<td width="301" height="50" align="center" valign="middle"><p
								align="left">9、音频放大电路的的设计与综合测试</p></td>
						<td width="270" height="50" align="center" valign="middle"><p
								align="left"></p></td>
					</tr>
				</table>
				<br> <strong>二、数字电子技术</strong>
				<table border="1" cellspacing="0" cellpadding="0" width="582">
					<tr>
						<td width="290" height="50" align="center" valign="middle"><br>
							1、数字电路实验箱的使用及常用逻辑门电路的测试</td>
						<td width="286" height="50" align="center" valign="middle"><p
								align="left">2、组合逻辑电路分析</p></td>
					</tr>
					<tr>
						<td width="290" height="50" align="center" valign="middle"><p
								align="left">3、组合逻辑电路的设计与测试</p></td>
						<td width="286" height="50" align="center" valign="middle"><p
								align="left">4、译码器及应用</p></td>
					</tr>
					<tr>
						<td width="290" height="50" align="center" valign="middle"><p
								align="left">5、触发器及其应用</p></td>
						<td width="286" height="50" align="center" valign="middle"><p
								align="left">6、计数器及其应用</p></td>
					</tr>
					<tr>
						<td width="290" height="50" align="center" valign="middle"><p
								align="left">7、移位寄存器及其应用</p></td>
						<td width="286" height="50" align="center" valign="middle"><p
								align="left">8、555时基电路及其应用</p></td>
					</tr>
					<tr>
						<td width="290" height="50" align="center" valign="middle"><p
								align="left">9、交通灯控制电路的设计</p></td>
						<td width="286" height="50" align="center" valign="middle"><p
								align="left">10、四路智力抢答器电路设计</p></td>
					</tr>
				</table>
				<br> <strong>三、高频电子线路</strong>
				<table border="1" cellspacing="0" cellpadding="0" width="587">
					<tr align="left" valign="middle">
						<td height="50" align="left" valign="middle">1、电容反馈三点式振荡器</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="middle">2、单调谐回路谐振放大器及其通频带展宽
						</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="middle">3、幅度调制器</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="middle">4、调幅波信号的解调</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="middle">5、集成混频电路</td>
					</tr>
				</table>
				<br> <strong>四、电子技术综合实验</strong>
				<table border="1" cellspacing="0" cellpadding="0" width="588">
					<tr>
						<td height="50" align="left" valign="middle">1、简单出租车计费器的设计</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="middle">2、数字电子钟逻辑电路设计</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="middle">3、家用风扇控制逻辑电路设计</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="middle">4、数字直流字电压表的设计</td>
					</tr>
				</table>
				<br> <strong>电子实习基地</strong><br>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子实习基地使用面积约180平方米，拥有多种型号的示波器62台，DF164D型函数信号发生器40台，DF1731型直流稳压电源40台，BT-3G频率特性测试仪，电感电容测试仪，台钻等仪器设备300余台，总资产达100余万元。<br>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子实习基地主要承担全校电气信息类及机电类等相关专业的电子工艺实习、电子技能实训、电子实习、综合实验等教学任务。通过实习，使学生了解电子产品的生产工艺流程、电子工艺的一般知识、PCB板的设计、制作和焊装的全过程，使学生掌握常用电子仪器、仪表的使用，掌握电子产品的焊接、装配、调试、检修等技能。<br>
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子实习基地在完成实习教学任务外，还开展第二课堂，开拓学生思维，提高学生动手能力、开设大学生电子竞赛培训，提高学生分析问题、解决问题的能力，为学生毕业设计提供相关实验条件。<br>
				</p>
				<br>
				<h3>实习项目：</h3>
				<p>
					1、直流稳压电源的安装与调试 <br> 2、音频功率放大器的电路安装、调试与测试 <br>
					3、多波收音机的整机安装调试 <br> 4、功率放大器的电路安装、调试与测试 <br>
					5、具有ISP功能的单片机开发系统的制作<br> 6、断线报警器 <br> 7、电子门铃 <br>
					8、声光控开关
				</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>