<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>就业园地
			</span>
		</div>
		<div class="con">
			<div class="con2" style="width: 982px;">
				<p style="text-align: center; color: blue;">
					<span style="font-size: 26px;">你需要问HR什么问题？</span>
				</p>
				<div style="text-align: left; width: 800px; margin: 0 auto;">
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“你有什么问题要问我吗？”
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当听到这个问题，一般就意味着一场面试基本接近尾声了。很多应聘者经过几番与HR的对答已经十分紧张了，
						突然主动权又回到自己手里就不知该如何使用，除了对于上下班时间、保险这种泛泛的问题简单的提及之外，大多数人都是以“我没有什么要问的了”结尾，除了紧张的因素以外，也担心问的过多反而让HR觉得自己很难缠以至于影响了面试分数。那究竟有没有需要问的问题呢？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入职前对于企业的深入了解，有助于应聘者找到更合适的岗位，也避免了日后双方资源和机会的浪费。而且，如果HR对你兴趣十足，当你在表达你的问题的时候可以通过这次主动性的出击而更为自己加分，
						或者你前面表现的不是特别令HR满意，你也能够通过提及一些有营养的问题以让HR对你有所改观。当然，提问的同时，也可以通过对HR语言和肢体的表现而判断，你是否合格了。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所以，关键性问题的提问一定要有。小编在这里为大家整理了一些比较合理的问题，希望对大家有所启发。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与职位相关的问题要多问
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以职位为中心的问题会让HR认为你在力图知道这份工作的完整描述，分析你的业务水平和对于工作的思考能力是一个什么状态，为HR最终将你判断为是有实力有潜力肯动脑的的员工打下基础。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例如：</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、我知道该职位的首要职责，但公司有没有其他的要求？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、我的专长是XX，请问XX部门在公司占有什么样的位置？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、在未来一年内，该部门的工作目标是什么？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、我打算考取XX方向的XX资格证书，这个证书对公司该职位有什么实质性的帮助吗？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、从员工和公众的角度看，您觉得贵公司与其竞争对手的区别在哪儿？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、我从招聘信息上看，贵公司似乎更偏向有经验的人，那么会对没有经验的人在录用上做什么考虑？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、面试之后的安排都是什么，您会在什么时候做出决定？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以自我为中心的问题少问
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不断的追问以个人为中心的问题会把自己塑造成急功近利的形象，同时HR也会觉得你目光短浅，不会有所成就。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;例如：</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、贵公司是做什么的？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、该职位月薪多少，公司的福利有哪些？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、公司有没有对员工的电脑进行网络监控以及网络限制？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、我进入公司多长时间才会有晋升的机会？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、如果对职位不够满意，可以申请内部调岗吗？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、你们要对我进行背景调查吗？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、贵公司之前有过XX危机事件，已经解决了吗？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当然，可以问的不止上面的几条，不可以问的也不止上面的几条，应聘者要结合自己所面试的企业和职位来充分考虑该如何发问，可以遵循“与职位相关的问题要多问，以自我为中心的问题少问”的原则，在提问的期间可以观察HR的反映，以作判断。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果HR已经开始和你深入探讨岗位相关问题，证明你已经引起了他的兴趣了。比如，HR可能会说“如果你一旦通过初审，你会……”或是“当你参与我们的团队之后，你将……”时，HR或许已经开始平衡如果录用你的话，你的胜任能力以及公司需要在你身上培养的投入时多少。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;但是，如果对于你的提问面试官只是模糊的回答或是说些不着边际的话，亦或是不停地质疑你的观点并用非常困难的问题来反驳你，也可能HR心不在焉地并在很短的时间内终止了面试，那么也许你的机会已经不大了，所以此时也就不必要继续追问，但是仍要微笑的结尾。
						可以以握手的形式告别，并且要注意，假如面试官与你的握手时短暂且无力的，那么，就基本肯定你已经出局了。</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面试是一件严肃的事情，由应聘者发问的阶段，应聘者既不能不闻不问，也不可毫无界限的随意发问，要掌握好一个度，同时及时观察HR的反映并随机应变，让形式可以更好或是逆转。要记住的是，去了解重要的信息以确保你和工作的契合度，这既是对所应聘的企业负责，更重要的是对自己的职业发展负责。
					</p>
					<br>
					<table
						style="border: 0; width: 800px; text-align: center; font-size: 16px;">
						<tr>
							<td><span>上一篇：<a
									href="index.php?Home/Employment/emp_4">个人简历的九大注意事项</a></span></td>
							<td><span>下一篇：<a
									href="index.php?Home/Employment/emp_6">怎样寻找实习机会？</a></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>