<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>就业园地
			</span>
		</div>
		<div class="con">
			<div class="con2" style="width: 982px;">
				<p style="text-align: center;color:blue;">
					<span style="font-size: 26px;">面试前应该了解公司的哪些信息？</span>
				</p>
				<div style="text-align: left; width: 800px; margin: 0 auto;">
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在面试过程中，有着五年工作经验以上的求职者基本上都会对目标公司有足够的了解，但是对于应届毕业生以及工作经验不久的求职者而言，往往会在这方面准备不足，其实一个连面试公司做什么产品都不去了解的人是很难取得面试官的信任，反之一个对面试公司很了解的应聘者，往往较容易获得面试官的认同。那么求职者面试前应该了解公司的哪些信息呢？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;了解面试公司的重要性</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、有助于面试成功。在一项调查中显示，九成以上的HR都会问到面试者这样的问题：你对公司了解吗?如果你能在面试前做个简单的了解，这时候也不至于摇头。一个对面试公司很了解的应聘者，往往较容易获得面试官的认同，反之，一个连面试公司做什么产品都不去了解的人是很难取得面试官的信任的。这在另一方面也难呢过够让hr看到你是一个很用心的人，企业要的人才就是这样的。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、根据公司的各个情况可以分析自己的发展前景
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;求职者在挑选梦想的公司前，要充分分析自身的优势、劣势，确定个人发展目标，有目的地选择用人单位。在候选单位中，可以通过各种途径了解该单位的近况，分析这个单位是否有自己的用武之地以及得到发展的前景如何，从而制定相应的应聘策略。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面试前应该了解公司的哪些信息？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一般情况下，了解一下公司概况、企业文化、自己应聘职位的特点、工作内容，需要应聘人员具有哪方面的素质及能力，面试中朝着所了解的去努力，应该就可以。如果想更好的分析自己的发展前景，
						可以更多的了解公司的规模、性质、开办年月、做什么产品项目、年营业额、成长幅度、人事制度、企业文化、在行业中的排名等等，了解的越多越好。除此之外，如果能够了解公司的氛围，对你准备合适的穿着和谈吐也是十分有用的。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、公司规模及性质
						如是合资还是国有还是私营，机构的规模。大小机构各有其优点和缺点，要根据各人的自身实力、定位和兴趣来判断该机构是否适合自己选择。</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、公司管理</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、公司业务范围</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、你所应聘部门情况
						如应聘行政助理，需注意对方有没有什么特殊要求。</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、人员构成。从高素质员工的占有比例可以预测你的实力在该机构是否能得到重用和能否承担有挑战性的工作。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、工作性质。以自身发展而非报酬为主要目标的求职者来说，具有挑战性、多样性、成就感的工作具有更大的吸引力。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、晋升机会。该机构的晋升制度是否体现出公正、合理。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果埋头苦干，有才华、有成绩也很少有晋升机会，是不利于员工上进的，也表明这家机构不值得选择。只有充分的了解一下自己要面试公司的情况，才能知道自己适不适合这个工作，能不能胜任，才能在以后的工作中，得到发展。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、岗位培训。从一个机构的岗位培训政策可以判断出该机构是否注重员工素质的提高和在人力资源上的投资战略。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、企业文化
						该公司是偏重于有创新精神的员工还是行事稳健之人，当然针对应聘岗位不同要求可能也不一样.</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大公司凭借自己的实力，总是有机会在很多场合宣传自己的企业文化，应届生们可以很容易地进行了解。但公司的宣传词通常比较概括、简洁，单凭此无法真正获得对公司的了解。公司的文化是在公司的发展过程中形成的，所以了解公司的详细的发展历程是应聘者应该做的。公司招聘新人，是它在发展过程中的一个链条。或者公司原有的业务需要扩大规模，
						或者公司需要开展某项新的业务等，招聘新人是为公司的进一步发展服务的，并非是公司每年有义务地来减轻大学生的就业压力。把公司招聘看成是整个公司发展过程中的一步棋，求职者便更容易把公司的需求和自己的实际结合起来，判断自己是否与企业的发展目标一致。而在面试的时候就能使自己思考问题上处在和面试人员同等的位置，提高自己求职成功的命中率。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通常在几名候选人条件相似的情况下，具有与公司的文化相融的个性的求职者是最后的成功者。比如新东方学校招一个秘书，可能会选一个有培训教师潜质的人，而不是一个只纯粹做文秘工作的人。
					</p>
					<br>
					<table
						style="border: 0; width: 800px; text-align: center; font-size: 16px;">
						<tr>
							<td><span>上一篇：<a
									href="index.php?Home/Employment/emp_2">应届生面试全攻略</a></span></td>
							<td><span>下一篇：<a
									href="index.php?Home/Employment/emp_4">个人简历的九大注意事项</a></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>