<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>就业园地
			</span>
		</div>
		<div class="con">
			<div class="con2" style="width: 982px;">
				<p style="text-align: center; color: blue;">
					<span style="font-size: 26px;">自我介绍攻略大全</span>
				</p>
				<div style="text-align: left; width: 800px; margin: 0 auto;">
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一场常规的面试，面试官的开场白一定是“请你先做一个自我介绍”，很多应聘者会觉得简历上已经表达的很清楚了，所以对于面试官的要求也是草草了事，简单的说上一两句，如果是这样，相信一个绝好的机会可能已经开始与你渐远。其实，面试官的这个问题并不是为了打破首次见面的陌生局面，而是与应聘者的第一次交锋。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;那么，面试官的目的是什么呢？让我们来分析一下面试官的心理。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一、考察应聘者的表述是否与简历上显示的内容相一致，因为不能排除个别应聘者有简历造假的行为。真实的内容在表达的过程中一定不会有特别明显的出入，而造假的内容在紧张的氛围下有可能出现纰漏。所以，一旦面试官发现有什么不妥，就会降低对应聘者的印象分。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二、考察应聘者的语言表达能力、思维逻辑能力以及总结概括的能力。有的应聘者虽然有很丰富的工作经历，但是表述的冗长没重点。如果应聘的职位恰好需要语言沟通，面试官也会将此作为一个判断的依据。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三、考验应聘者的现场把控能力。一个精简而有凝聚力的表述，能充分的表现出面试者的现场感知能力，拥有这种良好的个人素质的，会比较受面试官的青睐。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四、考验面试者的理解能力。有时，面试官会让你针对简历上的一个时期进行自我介绍，这时有的应聘者可能因没注意听讲或是思维稍显混乱而表达的不够清晰。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第五、考察面试者对时间的掌控能力。有时，面试官会让应聘者的自我介绍控制在几分钟内，而有的应聘者为了能具体的表达而开始长篇大论，反而适得其反，因为工作效率是任何企业都希望员工拥有的素质。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;了解了面试官的意图，也能更好地表现自己，好的自我介绍在提起面试官对应聘者兴趣上十分有利。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;深刻的自我认识是自我表达的基础。要弄清楚的是，你正在做什么？你打算做什么？以及你曾经做过什么？这三个问题的顺序并不是按时间顺序排列的，因为你所应聘的企业只想知道现在的你是什么状态，并期望你的未来能够为企业牟利，而你的历史只是作为一个基础而存在。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对自己有了深刻的分析才能顺畅表达，那么自我介绍的要领有哪些呢？
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一，时间分配合理。因为自我介绍时间有限，假如是五分钟的自我介绍，你要用一分钟的时间介绍自然情况(姓名、教育经历)，最近的工作经历可用三分钟时间进行阐述，其他经历一分钟。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二，内容主次分明。介绍履历，将每个时间节点的工作单位、地点、岗位、职务、内容讲清楚，尤其是近几年以及和所应征的企业相契合的，充分突出重点。在个人业绩方面，也要有所突出，面试官一定会注意所用人能带来的业绩。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三、特长的表述。一定要介绍自己最擅长并与应聘岗位密切相关的技能，如果有其他特别突出的技能也可表达，但一定要点到为止。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四、对未来的计划。面试官会感兴趣于你对自己未来的设计，合理的、具体的回答会让面试官对你寄予希望。找到过去和将来的关联点很重要，即便是过去与你的计划的将来毫不相干，你仍要表达出你为转行所作出的执着的努力，以及你过去的某些特性会对将来有所帮助。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;掌握一些一些基本要领的同时，还要十分注意一些禁忌，不要因为一句不该说的话而影响到整个介绍的精彩。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第一、不要语言过于随意。职场就要职业化，尤其是初次见面，过于随意甚至世俗、讲话的语言会让面试官觉得你过于轻浮。眼光尽量直视面试官，表情不要过于丰富，切记举止端庄。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二、不要内容过于简单。五分钟的自我介绍，只用一分钟就全部讲完，接下来就等面试官来问，那么主动权变为被动，如果面试官没有问到你最擅长的东西，你也就浪费了一次展现的机会。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三、不要头重脚轻。把刚开始讲述的经历说的眉飞色舞，而发现时间不够用了，之后的介绍只能草草了事，面试官会对你刚开始的讲述印象深刻而之后的内容被忽略，也许会对你的能力判断有误。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第四、不要光介绍背景不介绍自己。把自己曾任职的公司介绍的头头是道却没有介绍自己，面试官会不但对你没有任何了解也不清楚你来是要做什么。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第五、不要主动介绍业余爱好。如果面试官不主动问，就没必要提及个人爱好，因为个人爱好不等于个人特长，对工作没有帮助的事情，有的面试官会觉得你不务正业。
					</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;面试前对自己进行深刻分析并多了解所面试的公司，学习小窍门的同时多加练习，相信每一个求职者都会表现出自己最精彩的一面。
					</p>
					<br>
					<table
						style="border: 0; width: 800px; text-align: center; font-size: 16px;">
						<tr>
							<td><span>上一篇：已经是第一篇了！</span></td>
							<td><span>下一篇：<a
									href="index.php?Home/Employment/emp_2">应届生面试全攻略</a></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>