<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>就业园地
			</span>
		</div>
		<div class="con">
			<div class="con2" style="width: 982px;">
				<p style="text-align: center; color: blue;">
					<span style="font-size: 26px;">怎样寻找实习机会？</span>
				</p>
				<div style="text-align: left; width: 800px; margin: 0 auto;">
					<p style="color: red">问题一：怎样找实习？</p>
					<p>一．常规方法</p>
					<p>A. 关注网上实习讯息（这当然是琐碎又费神的事情）</p>
					<p>B. 投简历（肯定是要把简历做好啦，最好还是有个强人帮着改一下，理一下思路）</p>
					<p>C. 面试（请认认真真对待每一个面试，要么不去，要么全力以赴）</p>
					<p>常规方法之优：</p>
					<p>1. 贴身体会到职场冷暖</p>
					<p>2. 毕竟大部分人以后的工作还是常规路子的，所以简历面试这一块的预演是必需的.</p>
					<p>3. 自己学着“怎样获得自己所需”</p>
					<p>4. 做得好的以后会用更多的机会</p>
					<p>5. 学学复印，打印，打电话，没什么不好，职场基本功</p>
					<p>常规方法之劣：</p>
					<p>1. 可能实习单位只是要“免费（或廉价）劳动力”，打杂的事情会占去大部分时间</p>
					<p>2. 那里的人懒得教你</p>
					<p>3. 没有经验，不知道怎么从这种环境中自我学习，所以最后浪费了时间一无所得</p>
					<p>4. 好的实习人头济济，太难申请到，简历就刷掉一堆</p>
					<p>二．非常规方法</p>
					<p>A. 家人的关系介绍（去政府机关大多如此。）</p>
					<p>B. 自己的同学，朋友介绍 （要求：自己有一定量的人脉，要主动和别人交流，要总结要思考</p>
					<p>自己要做事认真，态度诚恳别人才好推荐）</p>
					<p>非常规方法之优：</p>
					<p>1. 质量比较高</p>
					<p>2. 同事关照</p>
					<p>3. 有人带</p>
					<p>4. 压力小</p>
					<p>5. 有问题尽管问，能够直接了解到所有</p>
					<p>非常规方法之劣：</p>
					<p>1．没压力就没约束</p>
					<p>2．条件太好让人充满幻想</p>
					<p>建议：</p>
					<p>1．两者都要尝试</p>
					<p>2．建议先“非常规”，热热身，然后再体验下“真正的冷暖”。</p>
					<p>接下来是…..</p>
					<p style="color: red">问题二：怎样实习</p>
					<p>一次实习，你要学到的东西有什么？</p>
					<p>1．技术性实习（比如学翻译，学新闻，学编程）</p>
					<p>要静下心来学扎实，做好整理，认真消化。技术性的东西需要耳根清静，埋头修炼，没有捷径。</p>
					<p>2. 公司的管理性，业务性实习</p>
					<p>基本了解：公司的架构（大公司了解每个部门负责什么
						小公司了解每个人负责什么）；业务内容；盈利模式；历史，发展方向；客户组成。</p>
					<p>具体了解：每个部门负责的内容，详细每个人负责的内容；每打一个杂，知道它在整个运作过程中是哪一个环节，为什么做？它的前面和后面的步骤是什么？不要为做而做。
					</p>
					<p>怎么去了解？</p>
					<p>1. 学会提问题，要有针对性。</p>
					<p>2. 自己多留心一些共享的文档，一些公开的文件。</p>
					<p>3．多参与同事的聊天，有时候听听大家讲话还是很不一样的，能给出一些最直接最真实的看法。</p>
					<p>提醒：</p>
					<p>1. 大多数人都是非常好人的，虚心点，尽管问吧！不要怕碰钉子。</p>
					<p>2. 不要太在意钱的问题，有些实习都是没有薪水的，但值得!</p>
					<br>
					<table
						style="border: 0; width: 800px; text-align: center; font-size: 16px;">
						<tr>
							<td><span>上一篇：<a
									href="index.php?Home/Employment/emp_5">你需要问HR什么问题？</a></span></td>
							<td><span>下一篇：已经是最后一篇了！</span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>