<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>教学科研>>教研成果
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/project">教研项目</a></li>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>教研成果</span></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/program">科研项目</a></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/result">科研成果</a></li>
				</ul>
			</div>
			<div class="con2">
				<p style="text-align: center;">
					<span style="font-size: 26px;">电信系发表教研论文列表</span>
				</p>
				<br>
				<table border="1" cellspacing="0" cellpadding="0">
					<tr>
						<td width="75" height="50"><p align="center">序号</p></td>
						<td width="100"><p align="center">年度</p></td>
						<td width="80"><p align="center">作者</p></td>
						<td width="390"><p align="center">论文名称</p></td>
						<td width="130"><p align="center">杂志名</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">1</p></td>
						<td width="44"><p align="center">2012.12</p></td>
						<td width="58"><p align="center">张涛</p></td>
						<td width="290"><p align="center">单片机课程的教学改革探讨</p></td>
						<td width="130"><p align="center">实验科学与技术</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">2</p></td>
						<td width="44"><p align="center">2013.7</p></td>
						<td width="58"><p align="center">张涛</p></td>
						<td width="290"><p align="center">电子专业英语教学改革探讨</p></td>
						<td width="130"><p align="center">中国教育技术装备</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">3</p></td>
						<td width="44"><p align="center">2013</p></td>
						<td width="58"><p align="center">吕晓兰</p></td>
						<td width="290"><p align="center">应用型本科院校EDA课程实验教学改革探索</p></td>
						<td width="130"><p align="center">中国电力教育</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">4</p></td>
						<td width="44"><p align="center">2013</p></td>
						<td width="58"><p align="center">吕晓兰</p></td>
						<td width="290"><p align="center">应用型本科电子信息工程专业实验教学改革探索</p></td>
						<td width="130"><p align="center">实验科学与技术</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">5</p></td>
						<td width="44"><p align="center">2014</p></td>
						<td width="58"><p align="center">吕晓兰</p></td>
						<td width="290"><p align="center">Analysis on Practical
								Teaching Models of Collaborative Innovation in Local Colleges</p></td>
						<td width="130"><p align="center">---</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">6</p></td>
						<td width="44"><p align="center">2013</p></td>
						<td width="58"><p align="center">何俊</p></td>
						<td width="290"><p align="center">高校第二课堂建设浅探</p></td>
						<td width="130"><p align="center">新课程学习</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">7</p></td>
						<td width="44"><p align="center">2013</p></td>
						<td width="58"><p align="center">何俊</p></td>
						<td width="290"><p align="center">卓越计划&rdquo;体系中《传感器技术与应用》课程教学改革探析
							</p></td>
						<td width="130"><p align="center">课程教育研究</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">8</p></td>
						<td width="44"><p align="center">2013</p></td>
						<td width="58"><p align="center">龙青云</p></td>
						<td width="290"><p align="center">电信专业课程&ldquo;主题探究式&rdquo;教学改革探索——基于大工程观教育思想的思考
							</p></td>
						<td width="130"><p align="center">韶关学院学报</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">9</p></td>
						<td width="44"><p align="center">2014</p></td>
						<td width="58"><p align="center">马远佳</p></td>
						<td width="290"><p align="center">卓越计划下电类课程实践环节的改革与实践</p></td>
						<td width="130"><p align="center">中国电力教育</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">10</p></td>
						<td width="44"><p align="center">2014</p></td>
						<td width="58"><p align="center">马远佳</p></td>
						<td width="290"><p align="center">基于B/S模式的高校实验室资产管理系统的设计
							</p></td>
						<td width="130"><p align="center">电子世界</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">11</p></td>
						<td width="44"><p align="center">2014</p></td>
						<td width="58"><p align="center">马远佳</p></td>
						<td width="290"><p align="center">电子信息类专业多维创新实践平台建设</p></td>
						<td width="130"><p align="center"> 网友世界</p></td>
					</tr>
					<tr>
						<td width="36" height="50"><p align="center">12</p></td>
						<td width="44"><p align="center">2011</p></td>
						<td width="58"><p align="center">龙青云</p></td>
						<td width="290"><p align="center">&ldquo;光纤通信原理&rdquo;课程研讨式教学探索与实践
							</p></td>
						<td width="130"><p align="center">中国电力教育</p></td>
					</tr>
				</table>
				<br>
				<p style="text-align: center;">
					<span style="font-size: 26px;">专利和著作</span>
				</p>
				<br>
				<table width="780" height="675" border="1" cellpadding="0"
					cellspacing="0">
					<tr>
						<td width="169" align="center" valign="middle">作者</td>
						<td width="477" align="center" valign="middle">专利/著作名称</td>
						<td width="126" align="center" valign="middle">授权/登记号</td>
					</tr>
					<tr>
						<td align="center" valign="middle">何俊，张清华，孙国玺</td>
						<td align="center" valign="middle">一种自适应UKF滤波算法</td>
						<td align="center" valign="middle">201410691143.1</td>
					</tr>
					<tr>
						<td align="center" valign="middle">孙国玺，张清华，何俊</td>
						<td align="center" valign="middle">一种基于退化数据建模的服役设备剩余寿命自适应预测方法</td>
						<td align="center" valign="middle">201510070807.7</td>
					</tr>
					<tr>
						<td align="center" valign="middle">何俊，张清华等</td>
						<td align="center" valign="middle">一种北斗定位信息简易发送装置</td>
						<td align="center" valign="middle">201420648329.4</td>
					</tr>
					<tr>
						<td align="center" valign="middle">何俊，张清华，孙国玺，左敬龙，黄华盛</td>
						<td align="center" valign="middle">基于android的广油口袋软件</td>
						<td align="center" valign="middle">0932412</td>
					</tr>
					<tr>
						<td align="center" valign="middle">张静，何俊，梁松，肖明</td>
						<td align="center" valign="middle">高校智能排考管理系统</td>
						<td align="center" valign="middle">0849496</td>
					</tr>
					<tr>
						<td align="center" valign="middle">张清华，何俊，孙国玺</td>
						<td align="center" valign="middle">旋转机械故障诊断频谱系统</td>
						<td align="center" valign="middle">0849472</td>
					</tr>
					<tr>
						<td align="center" valign="middle">何俊， 张清华，左敬龙，孙国玺</td>
						<td align="center" valign="middle">可视化仓存系统</td>
						<td align="center" valign="middle">0842413</td>
					</tr>
					<tr>
						<td align="center" valign="middle">张静，何俊，肖明</td>
						<td align="center" valign="middle">滚动轴承的离线检测系统</td>
						<td align="center" valign="middle">0849488</td>
					</tr>
					<tr>
						<td align="center" valign="middle">吕晓兰</td>
						<td align="center" valign="middle">申请发明专利《一种基于四模余数系统的FIR滤波器及其设计方法》</td>
						<td align="center" valign="middle">201310577763.8</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>