<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>教学科研>>科研项目
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/project">教研项目</a></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/achievement">教研成果</a></li>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>科研项目</span></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/result">科研成果</a></li>
				</ul>
			</div>
			<div class="con2">
				<p style="text-align: center;">
					<span style="font-size: 26px;">电信系科研项目列表</span>
				</p>
				<br>
				<table border="1" cellspacing="0" cellpadding="0">
					<tr align="center">
						<td height="47" width="75"><p align="center">
								<strong>序号 </strong>
							</p></td>
						<td width="100"><p align="center">
								<strong>年度 </strong>
							</p></td>
						<td width="69"><p align="center">
								<strong>负责人 </strong>
							</p></td>
						<td width="309"><p align="center">
								<strong>项目名称 </strong>
							</p></td>
						<td width="55"><p align="center">
								<strong>立项级别 </strong>
							</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">1</p></td>
						<td width="58"><p align="center">2013</p></td>
						<td width="80"><p align="center">吕晓兰</p></td>
						<td width="309"><p align="center">基于剩余数系统的FIR滤波器研究</p></td>
						<td width="125"><p align="center">市级</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">2</p></td>
						<td width="58"><p align="center">2014</p></td>
						<td width="69"><p align="center">吕晓兰</p></td>
						<td width="309"><p align="center">基于剩余数系统的后置转换算法研究</p></td>
						<td width="55"><p align="center">市级</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">3</p></td>
						<td width="58"><p align="center">2014</p></td>
						<td width="80"><p align="center">张涛</p></td>
						<td width="309"><p align="center">基于模糊C均值聚类的医学图像分割技术研究</p></td>
						<td width="55"><p align="center">市级</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">4</p></td>
						<td width="58"><p align="center">2013</p></td>
						<td width="69"><p align="center">马远佳</p></td>
						<td width="390"><p align="center">基于介电分析的润滑油监测与在线诊断技术</p></td>
						<td width="55"><p align="center">市级</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">5</p></td>
						<td width="58"><p align="center">2010</p></td>
						<td width="69"><p align="center">马远佳</p></td>
						<td width="309"><p align="center">基于嵌入式的开放型软PLC控制系统的研究</p></td>
						<td width="55"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">6</p></td>
						<td width="58"><p align="center">2012</p></td>
						<td width="69"><p align="center">马远佳</p></td>
						<td width="309"><p align="center">基于介电性能分析的润滑油在线监测关键技术研究
							</p></td>
						<td width="55"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">7</p></td>
						<td width="58"><p align="center">2014</p></td>
						<td width="69"><p align="center">陈信</p></td>
						<td width="309"><p align="center">强电场 DBD 放电提高水稻种子酶活性的研究
							</p></td>
						<td width="55"><p align="center">市级</p></td>
					</tr>
					<tr>
						<td height="47"><p align="center">8</p></td>
						<td width="58"><p align="center">2014</p></td>
						<td width="69"><p align="center">龙青云</p></td>
						<td width="309"><p align="center">基于受激喇曼散射的光纤喇曼放大器效率研究</p></td>
						<td width="55"><p align="center">市级</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>