<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>教学科研>>教研项目
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>教研项目</span></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/achievement">教研成果</a></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/program">科研项目</a></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Scientific/result">科研成果</a></li>
				</ul>
			</div>
			<div class="con2">
				<p style="text-align: center;">
					<span style="font-size: 26px;">教研项目</span>
				</p>
				<br>
				<table border="1" align="center" cellpadding="0" cellspacing="0">
					<tr align="center" valign="bottom">
						<td width="75" height="50"><br /> <strong>序号 </strong></td>
						<td width="53"><p align="center">
								<strong>年度 </strong>
							</p></td>
						<td width="76"><p align="center">
								<strong>负责人 </strong>
							</p></td>
						<td width="390"><p align="center">
								<strong>改革项目名称 </strong>
							</p></td>
						<td width="124"><p align="center">
								<strong>立项级别 </strong>
							</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">1</p></td>
						<td width="53"><p align="center">2011</p></td>
						<td width="76"><p align="center">左敬龙</p></td>
						<td width="390"><p align="center">多企业多层次交互式人才培养模式的研究与实践</p></td>
						<td width="124" valign="top"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">2</p></td>
						<td width="53"><p align="center">2012</p></td>
						<td width="76"><p align="center">龙青云</p></td>
						<td width="390"><p align="center">基于大工程观电信系专业方向课程&ldquo;主题探究式&rdquo;教学模式研究——以《光纤通信原理》为例
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">3</p></td>
						<td width="53"><p align="center">2013</p></td>
						<td width="76"><p align="center">梁松</p></td>
						<td width="390"><p align="center">开放式实验室管理平台的研究与开发</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">4</p></td>
						<td width="100"><p align="center">2013</p></td>
						<td width="76"><p align="center">马远佳</p></td>
						<td width="390"><p align="center">卓越工程师培养计划下的电类基础课实践性教学环节的改革与实践
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">5</p></td>
						<td width="53"><p align="center">2013</p></td>
						<td width="76"><p align="center">张涛</p></td>
						<td width="390"><p align="center">依托创新训练，电子信息类大学生创新与实践能力培养的研究与实践
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">6</p></td>
						<td width="53"><p align="center">2013</p></td>
						<td width="76"><p align="center">崔得龙</p></td>
						<td width="390"><p align="center">基于应用型人才培养的专业软件教学优化整合研究与实践
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">7</p></td>
						<td width="53"><p align="center">2013</p></td>
						<td width="76"><p align="center">张秋晶</p></td>
						<td width="390"><p align="center">基于CDIO的电信专业课程&ldquo;项目主题式&rdquo;教学模式研究——以《电磁场与微波技术》为例
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">8</p></td>
						<td width="53"><p align="center">2013</p></td>
						<td width="76"><p align="center">马远佳</p></td>
						<td width="390"><p align="center">基于CDIO模式的立体化EDA课程教学改革探究
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">9</p></td>
						<td width="53"><p align="center">2013</p></td>
						<td width="76"><p align="center">吕晓兰</p></td>
						<td width="390"><p align="center">基于CDIO模式的立体化EDA课程教学改革探究
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">10</p></td>
						<td width="53"><p align="center">2014</p></td>
						<td width="76"><p align="center">龙青云</p></td>
						<td width="390"><p align="center">基于&ldquo;工程教育专业认证&rdquo;的电信专业课程教学改革研究—以《光纤通信原理》为例
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">11</p></td>
						<td width="53"><p align="center">2014</p></td>
						<td width="76"><p align="center">马远佳</p></td>
						<td width="390"><p align="center">电子信息类专业基于应用型人才培养的多维创新实践平台建设
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">12</p></td>
						<td width="53"><p align="center">2014</p></td>
						<td width="76"><p align="center">弓云峰</p></td>
						<td width="390"><p align="center">以&ldquo;卓越工程师教育培养计划&rdquo;为导向的电子信息工程专业工程实践环节的研究与改革
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">13</p></td>
						<td width="53"><p align="center">2014</p></td>
						<td width="76"><p align="center">崔得龙</p></td>
						<td width="390"><p align="center">电子信息工程应用型人才培养模式创新实验区</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">14</p></td>
						<td width="53"><p align="center">2014</p></td>
						<td width="76"><p align="center">吕晓兰</p></td>
						<td width="390"><p align="center">自主递进式实验教学模式研究——以《数字系统设计》实验课程为例
							</p></td>
						<td width="124"><p align="center">校级</p></td>
					</tr>
					<tr>
						<td height="50"><p align="center">15</p></td>
						<td width="53"><p align="center">2014</p></td>
						<td width="76"><p align="center">吕晓兰</p></td>
						<td width="390"><p align="center">基于CDIO模式的立体化EDA课程教学改革探究
							</p></td>
						<td width="124"><p align="center">省级</p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>