<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>专业概况>>专业特色
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Profess/condition">发展状况</a></li>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>专业特色</span></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Profess/planning">专业规划</a></li>
				</ul>
			</div>
			<div class="con2">
				<p style="text-align: center;">
					<span style="font-size: 26px;">专业特色</span>
				</p>
				<br>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子信息工程是一门应用计算机等现代化技术进行电子信息控制和信息处理的学科，主要研究信息的获取与处理，电子设备与信息系统的设计、开发、应用和集成。现在，电子信息工程已经涵盖了社会的诸多方面，像电话交换局里怎么处理各种电话信号，手机是怎样传递我们的声音甚至图像的，我们周围的网络怎样传递数据，甚至信息化时代军队的信息传递中如何保密等都要涉及电子信息工程的应用技术。我们可以通过一些基础知识的学习认识这些东西，并能够应用更先进的技术进行新产品的研究和
					<a href="http://baike.baidu.com/view/145785.htm" target="_blank">电子信息工程专业</a>是集<a
						href="http://baike.baidu.com/view/1590841.htm" target="_blank">现代电子技术</a>、
					<a href="http://baike.baidu.com/subview/3226/11250234.htm">信息技术</a>、<a
						href="http://baike.baidu.com/view/158690.htm" target="_blank">通信技术</a>于一体的专业。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本专业培养掌握现代电子技术理论、通晓电子系统设计原理与设计方法，具有较强的计算机、外语和相应工程技术应用能力，面向电子技术、自动控制和智能控制、计算机与网络技术等电子、信息、通信领域的宽口径、高素质、德智体全面发展的具有创新能力的高级工程技术人才开发。
				</p>
				<p>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子信息工程专业主要是学习基本电路知识，并掌握用计算机等处理信息的方法。首先要有扎实的数学知识，对物理学的要求也很高，并且主要是电学方面；要学习许多电路知识、<a
						href="http://baike.baidu.com/subview/900352/5086910.htm"
						target="blank">电子技术</a>、<a
						href="http://baike.baidu.com/item/%E4%BF%A1%E5%8F%B7%E4%B8%8E%E7%B3%BB%E7%BB%9F/1534740 target="blank"">信号与系统</a>、<a
						href="http://baike.baidu.com/view/1997040.htm target="blank"">计算机控制原理</a>、<a
						href="http://baike.so.com/doc/5725783-5938520.html target="blank"">通信原理</a>等基本课程。学习电子信息工程自己还要动手设计、连接一些电路并结合计算机进行实验，对动手操作和使用工具的要求也是比较高的。譬如自己连接传感器的电路，用计算机设置小的通信系统，还会参观一些大公司的电子和信息处理设备，理解手机信号、有线电视是如何传输的等，并能有机会在老师指导下参与大的工程设计。学习电子信息工程，要喜欢钻研思考，善于开动脑筋发现问题。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着社会信息化的深入，各行业大都需要电子信息工程专业人才，而且薪金很高。学生毕业后可以从事电子设备和信息系统的设计、应用开发以及技术管理等。比如，做电子工程师，设计开发一些电子、通信器件；做软件工程师，设计开发与硬件相关的各种软件；做项目主管，策划一些大的系统，这对经验、知识要求很高；还可以继续进修成为教师，从事科研工作等。注：不同院校的课程设置可能不同。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该专业是前沿学科，现代社会的各个领域及人们日常生活等都与电子信息技术有着紧密的联系。全国各地从事电子技术产品的生产、开发、销售和应用的企事业单位很多.,随着改革步伐的加快，这样的企事业单位会越来越多。为促进市场经济的发展，培养一大批具有大专层次学历，能综合运用所学知识和技能，适应现代电子技术发展的要求，从事企事业单位与本专业相关的产品及设备的生产、安装调试、运行维护、销售及售后服务、新产品技术开发等应用型技术人才和管理人才是社会发展和经济建设的客观需要，市场对该类人才的需求越来越大。为此电子信息工程专业的人才有着广泛的就业前景。
				</p>
			</div>
		</div>
	</div>
		<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>