<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>专业概况>>专业规划
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Profess/condition">发展状况</a></li>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Profess/feature">专业特色</a></li>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>专业规划</span></li>
				</ul>
			</div>
			<div class="con2">
				<p style="text-align: center;">
					<span style="font-size: 26px;">专业规划</span>
				</p>
				<br>
				<h3>一、专业建设总体目标</h3>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;依托茂名石化和电信产业，立足茂名，面向粤西、服务广东，构建以电子信息技术与电子信息工程为导向的课程体系，改革人才培养模式，把电子信息工程专业建成教学团队一流、办学水平高、社会服务能力强、有强实践能力特色的特色专业，把专业实验实训基地建成类企业员工培训及技能鉴定基地，将电子信息工程专业办成强实践能力特色鲜明、优势突出、对同类型学校专业建设具有示范和带动作用的特色专业。</p>
				<p>
					通过5年建设，预期达到如下目标：<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、课程体系与教学内容改革。建立3～4门专业主干课程的建设工作，包括课程资源、教学改革、教材编写、成果凝练，建设为精品课程；<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、实践条件建设。扩建和完善专业实验室，推广校内创新实验室，培养学生专业综合能力和创新能力。加强校企合作，寻求与企业合作建立专项实验室。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、师资队伍建设。通过内部培养和人才引进提高和完善师资队伍，力争内部培养2名副教授、2名攻读博士学位；培养专业带头人1名；引进1名实践丰富的教师；每年选派1—2名中青年专职教师到企业或工程一线实践锻炼。<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、人才培养质量和预期就业率。加强学生的技能训练、团队合作精神、工程理念，培养具有强实践能力的应用型人才。预期通过相关条件建设，使得专业预期就业率达到96%。<br>
				</p>
				<br>
				<h3>二、基本任务</h3>
				<h4>1、人才培养任务</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;形成基于CDIO理念的1：1创新实践型电子设计人才培养新模式，为学生创新能力培养打下良好的基础，培养适应社会主义经济建设需要的德、智、体全面发展的人才。预期完成每年90人规模的本科生人才培养。</p>
				<h4>2、教学建设与教学基本条件</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;结合电子信息工程专业的发展变化和最新研究成果，进一步建立科学的专业课程体系。重视基础课程，加强主干课程，扩大选修课程，突出专业、人才培养定位与特色，加强专业课程体系的建设。开展与各有关课程配套的教学大纲、教材建设工作，尽快将本学科新的优秀学术成果反映到教学内容中去。</p>
				<h4>3、师资队伍建设任务，包括整体结构、主讲教师、师资培养与教学水平、科研水平等</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按照学校的统一部署，采用引进与培养相结合的机制，逐步形成知识结构合理、梯队明显，具有发展潜力的师资队伍，鼓励教师努力提高教学水平与科研能力，提升整体师资队伍的学历层次和职称层次。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经过5年的建设，专任教师队伍达到8人左右，博士（含在读）比例达40%以上，高级职称50%以上。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本专业教师相对年轻，科研能力相对薄弱，提高教师的科研水平是专业发展的重要工作之一。5年中争取申请省级项目5项。</p>
				<h4>4、教学改革与研究任务，包括教学研究与成果、教学内容与课程体系、教学方法与手段、实践教学等</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积极开展教学研究，加强教学调研，紧跟技术的发展和时代的进步，将最新的成果融入教学内容。根据教学工作中存在的问题有针对性地开展教学改革研究与实践，突出加强培养目标，培养方案，课程体系，教学内容，教学方法，教学手段，教学与科研，教学与生产以及科研与生产等内容的研究，并形成一定的成果。遴选出2门以上课程申报精品课程。</p>
				<h4>5、教学条件与教学管理建设任务，包括实验（实训）室建设、实习基地建设、教材建设、教学管理等方面</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;构建实践教学体系，更新实验教学内容，增加综合性设计性实验项目。加强专业实践工程训练中心建设，建立教学、科研、生产三结合的教学模式，提高学生的实践能力与创新能力。加强与企业联系，拓展学生进行生产实习、了解企业文化的空间和渠道。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过5年建设，拟建立校内创新实验室3个、校外实习见习基地4个；组织骨干教师编写专业相关教材2部；总结凝练教学管理经验，发表教学改革、教学管理论文10篇。</p>
				<h4>6、特色项目建设任务</h4>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本专业一直强化学生的创新能力，在5年的建设期间，将进一步推进相关特色项目的进展。进一步完善毕业设计管理系统、教师绩效考核系统、门禁系统、创新实验室建设。</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>