@CHARSET "UTF-8";

.footer {
	width: 100%;
	text-align: center;
	/* margin: 0; */
	position: relative;
	/* bottom:-810px; */
	background-color: #0080c0;
	font-size: 14px;
	color: #fff;
	clear: both;
}

.footer p {
	line-height: 20px;
	padding: 5px 0;
}

.footer p a {
	text-decoration: none;
	color: #fff;
}

.footer p a:hover {
	text-decoration: underline;
	color: #00f;
}

.footer #msg1 {
	padding-top: 10px;
}

.footer #msg2 {
	padding-bottom: 10px;
}