<!DOCTYpE html>
<html>
<head>
<meta charset="UTF-8">
<title>电子信息工程专业改革试点</title>
<link rel="stylesheet" type="text/css" href="Public/Home/css/header.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/common.css">
<link rel="stylesheet" type="text/css" href="Public/Home/css/footer.css">
</head>
<body>
	<div class="header">
		<!-- logo开始 -->
		<div class="logo">
			<img src="Public/Home/images/logo.png">
		</div>
		<!-- logo结束 -->

		<!-- 导航栏开始 -->
		<div class="nav">
			<div class="nav1">
				<ul>
					<li><a href="index.php">首页</a></li>
					<li><a href="index.php?Home/Taskbook/taskbook">任务书</a></li>
					<li><a href="#">专业概况</a>
						<ul>
							<li><a href="index.php?Home/Profess/condition">发展状况</a></li>
							<li><a href="index.php?Home/Profess/feature">专业特色</a></li>
							<li><a href="index.php?Home/Profess/planning">专业规划</a></li>
						</ul></li>
					<li><a href="#">人才培养</a>
						<ul>
							<li><a href="index.php?Home/Talent/introduction">招生简介</a></li>
							<li><a href="index.php?Home/Talent/program">培养方案</a></li>
							<li><a href="index.php?Home/Talent/lab">专业实验室</a></li>
						</ul></li>
					<li><a href="#">师资队伍</a>
						<ul>
							<li><a href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
							<li><a href="index.php?Home/Teacher/structure">师资结构</a></li>
						</ul></li>
					<li><a href="#">教学科研</a>
						<ul>
							<li><a href="index.php?Home/Scientific/project">教研项目</a></li>
							<li><a href="index.php?Home/Scientific/achievement">教研成果</a></li>
							<li><a href="index.php?Home/Scientific/program">科研项目</a></li>
							<li><a href="index.php?Home/Scientific/result">科研成果</a></li>
						</ul></li>
					<li><a href="#">学子风采</a>
						<ul>
							<li><a href="index.php?Home/Student/style">学生园地</a></li>
							<li><a href="index.php?Home/Student/show">成果展示</a></li>
							<li><a href="index.php?Home/Student/employment">就业情况</a></li>
						</ul></li>
					<li><a href="#">校企合作</a>
						<ul>
							<li><a href="index.php?Home/Cooperation/base">实习基地</a></li>
							<li><a href="index.php?Home/Cooperation/agreement">合作协议</a></li>
						</ul></li>
					<li><a href="index.php?Home/Contact/contact">联系我们</a></li>
				</ul>
			</div>
		</div>
		<!-- 导航栏结束 -->
	</div>
	<div class="main">
		<div class="pos">
			<span>&nbsp;&nbsp;当前位置：<a href="index.php">首页</a>>>师资队伍>>师资结构
			</span>
		</div>
		<div class="con">
			<div class="con1">
				<ul>
					<li><img src="Public/Home/images/箭头.png">&nbsp;<a
						href="index.php?Home/Teacher/teacher/id/1">教学团队</a></li>
					<li><img src="Public/Home/images/箭头1.png">&nbsp;<span>师资结构</span></li>
				</ul>
			</div>
			<div class="con2" style="font-size: 18px;">
				<p style="text-align: center;">
					<span style="font-size: 26px;">师资结构</span>
				</p>
				<br>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校现有教职工1054人，专任教师600多人。专任教师中，有教授、副教授230人；具有博士、硕士学位的教师共340人；有广东省高等学校“千百十工程”省级培养对象3人，校级培养对象20人；有一批教师获得全国先进工作者、全国优秀教师、南粤优秀教师、省市优秀教育工作者、劳动模范等各类荣誉称号。学校还聘请中国工程院刘尚合院士、薛群基院士，中石化集团公司及其所属公司有关领导和专家，暨南大学、江苏工学院、北京石油化工学院等高校的领导和专家等共40多名客座教授。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校认真贯彻“人才强校”的办学理念，十分重视师资队伍建设。通过引进和培养提高的方式增加了师资的数量，优化了师资结构，提高了教师素质，使生师比达到合格要求；师资整体结构状态良好，发展趋势好；专任教师中硕士博士的比例达到合格要求。</p>
				<br>
				<p style="font-size: 22px;">
					<strong>生师比</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;学校为适应广东省高等教育快速发展的需要，根据全省的计划，近几年办学规模扩大，本科招生人数增加。由于学校地处粤西，远离中心城市，经济欠发达，引进教师比较困难。且茂名仅本校一所本科院校，外聘教师也不容易。因此学校生师比曾一度偏高。为了保证本科教学质量，近年来学校加大引进教师力度，同时控制招生规模，使生师比达到合理的比例。到2006年下半年生师比已降到16.33:1。</p>
				<br>
				<p style="font-size: 22px;">
					<strong>整体结构状态与发展趋势 </strong>
				</p>
				<p style="font-size: 20px;">
					<strong>&nbsp;&nbsp;（1）师资队伍整体结构较合理</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校升本以来，坚持不懈地抓师资队伍建设，一方面引进教师，增加教师数量，一方面调整结构，提高素质，形成了较合理的师资队伍整体结构。
				</p>
				<p>
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;1）职称结构</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校的师资队伍中，有教授40人，占7.45%；副教授172人，占32.03%；讲师223人，占41.53%；助教102人，占18.99%。从职称结构整体看，尽管近两年有28名教授、副教授退休或调离，但通过外引内培等措施，高级职称比例依然保持较高，达到39.48%；高级和中级职称教师总比例达到81.01%；师资队伍总体数量稳中有升。职称结构总体合理，能够满足学校的教学要求。
				</p>
				<p>
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;2）年龄结构</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校师资队伍的年龄结构合理。全校45岁及以下的中青年教师占总数的82.12%，36-55岁的教师占教师总数的59.78%，中青年教师比例几年来保持着稳定并略有增长的态势，呈现了年富力强的特点。
				</p>
				<p>
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;3）学位结构</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近几年来，通过引进和培养提高，师资队伍的学位结构明显改善，已趋于合理，并且发展趋势良好。学校师资队伍中具有博士学位的17人，具有硕士学位的190人，硕士、博士学位的教师占总数的38.55%。其中化工与环境工程学院、机电工程学院、社会科学系的师资队伍中，硕士以上学位教师的比例分别达到73.53%、82.61%、59.38%。师资队伍中现有在读硕士生102人、在读博士生27人，全部获得学位后，学位比例将得到进一步提高，学位结构亦将更趋合理。
				</p>
				<p>
					<strong>&nbsp;&nbsp;&nbsp;&nbsp;4）学缘结构</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校师资队伍的学缘结构好。教师来自北京大学、清华大学、四川大学、武汉大学、南开大学、西安交通大学、哈尔滨工业大学、华东理工大学、北京师范大学、中山大学、华南理工大学等全国179所院校，非本校毕业的教师占全部教师的98.14%。良好的学缘结构和不同的学术背景使教师能够互相交流，取长补短，融合学术思想和教学观念，对教学起到了直接的推动作用。
				</p>
				<br>
				<p style="font-size: 20px;">
					<strong>&nbsp;&nbsp;（2）师资队伍整体发展趋势好</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校升本之初，师资队伍的整体水平不高，但经过近几年的努力建设，发展趋势好。近三年生师比由21.93:1降到16.33:1；高级职称教师人数由176人增加至212人，比例由38.68%提高到39.48%；硕士以上学位教师人数由114增加至207人，比例由25.06%提高到38.55%。师资队伍的各类结构都朝着好的方向发展，尤其是学位结构改善较大，取得了明显成效；年龄结构一直保持合理状态。学校已出台加强师资队伍建设的政策，一方面要求40岁以下的教师须在3年内取得硕士学位或取得硕士入学资格，另一方面规定引进教师须具有硕士以上学位，并具有较强的教学科研水平。随着师资队伍中在读硕士生、博士生的毕业，学校的师资队伍结构将进一步优化，师资队伍的整体水平将进一步提高，并可保持良好的持续发展趋势。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;师资队伍整体结构能出现目前的面貌和良好的发展趋势，是学校贯彻“人才强校”的办学理念，不断加大人才引进力度和培养力度的结果。学校出台了一系列政策措施，通过多种渠道引进高层次人才，2003年至2005年引进了高学历、高职称人才和紧缺专业教师138人。为了引得来，留得住，学校投入资金近1000万元，建设了引进人才住宅2栋72套，使引进人才安其居，乐其业。另投入人才引进经费614.5万元（其中300万元为广东省高校人才引进专项资金），重点用于高学历、高职称人才和紧缺专业教师的安家费和科研启动经费。
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2003年以来，学校投入专项培养经费近150万元，鼓励并支持教师在职进修提高。在此期间考取攻读博士学位者26人，考取攻读硕士学位者102人；选派教师119人次以国内访问学者或专业进修的方式外出进修提高。这些引进和培养的人才，多数已成为骨干教师。
				</p>
				<br>
				<p style="font-size: 22px;">
					<strong>专任教师中具有硕士学位、博士学位的比例</strong>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学校制定了一系列优惠政策，一方面大力引进硕士以上学位的教师，另一方面加大力度支持在职青年教师攻读博士或硕士学位。近年来，专任教师中具有博士和硕士学位的比例逐年提高，现已达到40.39%。</p>
				<br />
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;权威发布广东石油化工学院师资力量,广东石油化工学院师资介绍；关于师资怎么样,师资队伍介绍等信息请留言咨询我们。学校现有专任教师641人。其中，有教授、副教授228人；具有博士、硕士学位的教师共386人；有广东省高等学校“千百十工程”省级培养对象3人，校级培养对象20人；有一批教师获得全国先进工作者、全国优秀教,地址:广东省茂名市官渡二路139号。
				</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<p id="msg1">
			<span>版权所有&nbsp;&nbsp;@&nbsp;&nbsp;计算机与电子信息学院&nbsp;&nbsp;|&nbsp;&nbsp;电子信息工程专业</span>
		</p>
		<p id="friend">
			<span>友情链接：</span> <a target="_blank" href="#">电子科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">计算机科学与技术</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">测控技术与仪器</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">电气工程及其自动化</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
			<a target="_blank" href="#">电气工程及其自动化（卓越班）</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a target="_blank" href="#">自动化</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="#">网络工程</a>&nbsp;&nbsp;&nbsp;&nbsp; <a
				target="_blank" href="index.php?Admin/Index/index"
				style="color: #ff0000;">后台入口</a>
		</p>
		<p id="msg2">
			<span>技术支持：严浚海&nbsp;&nbsp;&nbsp;&nbsp;指导老师：左敬龙</span>
		</p>
	</div>
</body>
</html>